@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------------------------------------МИКСИН ДЛЯ АДАПТИВНОГО ТЕКСТА--------------------------------------------------------*/
/*--------------------------------------------------МИКСИН ДЛЯ ПСЕВДОЭЛЕМЕНТОВ--------------------------------------------------------*/
/*--------------------------------------------------МИКСИН ДЛЯ ПЛЕЙСХОЛДЕРОВ--------------------------------------------------------*/
/*--------------------------------------------------УСЕЧЕНИЕ ТЕКСТА--------------------------------------------------------*/
/*--------------------------------------------------Спрятать\Показать блок--------------------------------------------------------*/
/*ПЕРЕМЕННЫЕ------------------------------------------------------------------------*/
/*ширина контейнера*/
/*Отступы у контейнера*/
/*Максимальная ширина*/
/*Минимальная ширина*/
/*КОНТЕЙНЕР------------------------------------------------------------------------*/
.container {
  max-width: 1197px;
  padding: 0px 15px;
  margin: 0 auto;
}

/*ВРАППЕР------------------------------------------------------------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.header {
  z-index: 99;
  position: fixed;
  background: rgba(16, 16, 29, 0.9);
  width: 100vw;
  padding: 32px 0px;
  top: 0;
  left: 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.header__logo span {
  color: #42A9ED;
}
.header__link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  margin-right: 60px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__link:hover {
  color: #43ABF0;
}
.header__link:last-child {
  margin-right: 0;
}
.header__burger {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  visibility: hidden;
}
.header__burger div {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
}
.header__burger div:nth-child(1) {
  top: 8px;
}
.header__burger div:nth-child(2) {
  top: 15px;
}
.header__burger div:nth-child(3) {
  top: 22px;
}
@media (max-width: 757px) {
  .header {
    padding: 16px 0;
  }
  .header__menu {
    background: rgba(16, 16, 29, 0.9);
    position: fixed;
    padding-top: 75px;
    top: 0px;
    width: 110vw;
    height: 100vh;
    left: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -110vh;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header__menu.active {
    top: 0;
  }
  .header__link {
    margin-right: 0;
    font-size: 20px;
    margin-bottom: 50px;
  }
  .header__burger {
    display: block;
    visibility: visible;
  }
  .header__burger.active div {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .header__burger.active div:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  .header__burger.active div:nth-child(2) {
    display: none;
  }
  .header__burger.active div:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
}
@media (max-width: 400px) {
  .header__logo {
    font-size: 23px;
  }
}

.lorem {
  background-position: center;
  background: url("../img/firstBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 215px;
  padding-bottom: 220px;
}
.lorem__title {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  max-width: 780px;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .lorem__title {
    font-size: calc(27px + 35.7 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .lorem__title {
    font-size: calc(27px + 21 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .lorem__title {
    line-height: calc(38px + 34 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .lorem__title {
    line-height: calc(38px + 20 * (100vw / 1920));
  }
}
.lorem__title span {
  color: #3E9CDC;
}
.lorem__subtitle {
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .lorem__subtitle {
    font-size: calc(17px + 5.1 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .lorem__subtitle {
    font-size: calc(17px + 3 * (100vw / 1920));
  }
}
.lorem__list {
  margin-bottom: 80px;
}
.lorem__item {
  position: relative;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
  padding-left: 25px;
}
@media (max-width: 767px) {
  .lorem__item {
    font-size: calc(17px + 5.1 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .lorem__item {
    font-size: calc(17px + 3 * (100vw / 1920));
  }
}
.lorem__item:before {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  width: 5px;
  height: 1.5px;
  top: 50%;
  left: 0px;
}
.lorem__button {
  width: 183px;
  padding: 15px 0px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFF;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.lorem__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.lorem__order {
  background: #3E9CDC;
  margin-right: 30px;
}
.lorem__description {
  border: 1px solid #6F6D7B;
  background: #FFFFFF;
  color: #000;
}
@media (max-width: 1500px) {
  .lorem {
    background-position-x: -350px;
  }
}
@media (max-width: 940px) {
  .lorem {
    background-position-x: -100px;
  }
}
@media (max-width: 757px) {
  .lorem {
    padding-top: 120px;
  }
}
@media (max-width: 500px) {
  .lorem {
    padding-bottom: 150px;
  }
}
@media (max-width: 430px) {
  .lorem__button {
    width: 135px;
  }
  .lorem__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.order {
  padding-top: 120px;
  padding-bottom: 150px;
  background: #272733;
  background-image: url("../img/map.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.order_mg {
  margin-bottom: 5px;
}
.order__title {
  text-align: center;
  font-style: normal;
  font-weight: black;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.order__title span {
  color: #3E9CDC;
}
.order__subtitle {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #BBBBBB;
  text-align: center;
  margin-bottom: 77px;
}
.order__schema {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.order__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 165px;
  margin-bottom: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}
.order__item:after {
  content: "";
  display: block;
  position: absolute;
  width: 110px;
  height: 6px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 47px;
  right: -54px;
}
.order__item:last-child::after {
  display: none;
}
.order__item:hover .order__icon {
  border-color: #DDDDAC;
}
.order__icon {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  background: #3E9CDC;
  border: 5px solid #286690;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  max-width: 188px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}
.order__block {
  margin-top: 80px;
}
.order__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
.order__row:last-child {
  margin-bottom: 0px;
}
.order__row_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.order__wrapper {
  position: relative;
}
.order__wrapper_file {
  width: 370px;
}
.order__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order__file_icon_wrapper {
  height: 20px;
  width: 17.5px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__file_button_text {
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: inherit;
}
.order__file_button {
  width: 100%;
  max-width: 370px;
  height: 48px;
  background: #FFFFFF;
  border: 2px solid #3E9CDC;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: auto;
  color: #272733;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.order__file_button:hover {
  background: #3E9CDC;
  border-color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
}
.order__arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 25px;
  right: 0;
}
.order__arrow::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 1px;
  background: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.order__arrow::before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 1px;
  background: black;
  top: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 8px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.order__arrow.active::after {
  background: white;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
.order__arrow.active::before {
  background: white;
  -webkit-transform: rotate(-140deg);
          transform: rotate(-140deg);
}
.order .order__select {
  position: relative;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  margin-bottom: 5px;
  border-radius: 3px;
  width: 370px;
  height: 48px;
  padding-left: 0;
}
.order .order__select.active {
  border: none;
}
.order .order__select select {
  display: none;
}
.order .order__select_selected {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  color: black !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
}
.order .order__select_selected:after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 1px;
  background: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 22px;
  right: 20px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.order .order__select_selected:before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 1px;
  background: black;
  top: 22px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 15px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.order .order__select_selected.select__arrow_active {
  background: rgba(61, 64, 80, 0.85);
  color: white !important;
  border: none;
}
.order .order__select_selected.select__arrow_active:after {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  background: white;
}
.order .order__select_selected.select__arrow_active:before {
  -webkit-transform: rotate(-140deg);
          transform: rotate(-140deg);
  background: white;
}
.order .order__select_items {
  height: 250px;
  overflow-y: scroll;
  position: absolute;
  color: white;
  background-color: #272733;
  border: 1px solid #555765;
  top: 92%;
  left: 0;
  right: 0;
  z-index: 99;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
}
.order .order__select_items::-webkit-scrollbar {
  background: #3D4050;
  border-radius: 3px;
  width: 7px;
  border-radius: 10px;
}
.order .order__select_items::-webkit-scrollbar-thumb {
  background: #3E9CDC;
  border-radius: 10px;
}
.order .order__select_items div:hover, .order .order__select_items .same_as_selected {
  color: #42A9ED;
}
.order .order__select_selected, .order .order__select_items div {
  color: white;
  padding: 5px 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.order .order__select_hide {
  display: none;
}
.order__inp {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  width: 370px;
  height: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
  padding-left: 10px;
}
.order__inp:placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order__inp:-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order__inp::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order__inp:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order__inp::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .order__text {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .order__text {
    font-size: calc(14px + 4 * (100vw / 1920));
  }
}
.order__text p:last-child {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 900;
}
.order__range {
  width: 770px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.order__range::-webkit-slider-runnable-track {
  height: 6px;
  background: #BEBEC1;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
}
.order__range::-webkit-slider-thumb {
  background: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  margin-top: -9px;
}
.order__range::-moz-range-track {
  height: 6px;
  background: #BEBEC1;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
}
.order__range::-moz-range-thumb {
  background: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  margin-top: -9px;
}
.order__confirm {
  cursor: pointer;
  width: 370px;
  height: 48px;
  background: #3E9CDC;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.order__confirm:hover {
  background: #fff;
  border-color: #3E9CDC;
  color: black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media (max-width: 1177px) {
  .order__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 50px;
  }
  .order__item:last-child {
    margin-bottom: 0;
  }
  .order__item:nth-child(even)::after {
    display: none;
  }
  .order__range {
    margin-bottom: 30px;
  }
  .order__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 810px) and (max-width: 767px) {
  .order__range {
    max-width: calc(300px + 799 * ((100vw - 320px) / 810));
  }
}
@media (max-width: 810px) and (min-width: 767px) {
  .order__range {
    max-width: calc(300px + 470 * (100vw / 810));
  }
}
@media (max-width: 500px) {
  .order {
    padding-bottom: 100px;
  }
  .order__schema {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order__item::after {
    display: none;
  }
  .order__confirm, .order__wrapper_file, .order__inp, .order__wrapper, .order__select {
    width: 100% !important;
    max-width: 370px;
  }
}
@media (max-width: 400px) {
  .order__row:nth-child(2) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer {
  background: #3D4050;
  padding: 30px 0;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #c3c3c3;
  padding-right: 40px;
}
.footer__column:last-child {
  padding-right: 0;
  border: none;
}
.footer__desc {
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .footer__desc {
    font-size: calc(12px + 1.7 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .footer__desc {
    font-size: calc(12px + 1 * (100vw / 1920));
  }
}
.footer__desc span {
  text-transform: uppercase;
}
.footer__pays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  margin-right: 38px;
}
.footer__item:last-child {
  margin-right: 0;
}
.footer__pay {
  color: #C3C3C3;
}
.footer__icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.footer__icon img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1146px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__column {
    border: none;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .footer__column:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 424px) {
  .footer__pays {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item {
    margin: 0;
  }
  .footer__pay {
    margin-bottom: 10px;
  }
  .footer__social {
    margin-right: 10px;
  }
}