@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------------------------------------МИКСИН ДЛЯ АДАПТИВНОГО ТЕКСТА--------------------------------------------------------*/
/*--------------------------------------------------МИКСИН ДЛЯ АДАПТИВНОГО ТЕКСТА--------------------------------------------------------*/
/*--------------------------------------------------МИКСИН ДЛЯ ПСЕВДОЭЛЕМЕНТОВ--------------------------------------------------------*/
/*--------------------------------------------------МИКСИН ДЛЯ ПЛЕЙСХОЛДЕРОВ--------------------------------------------------------*/
/*--------------------------------------------------УСЕЧЕНИЕ ТЕКСТА--------------------------------------------------------*/
/*--------------------------------------------------Спрятать\Показать блок--------------------------------------------------------*/
/*ПЕРЕМЕННЫЕ------------------------------------------------------------------------*/
/*ширина контейнера*/
/*Отступы у контейнера*/
/*Максимальная ширина*/
/*Минимальная ширина*/
/*КОНТЕЙНЕР------------------------------------------------------------------------*/
.container {
  max-width: 1197px;
  padding: 0px 15px;
  margin: 0 auto;
}

/*ВРАППЕР------------------------------------------------------------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.header {
  position: fixed;
  background: rgba(16, 16, 29, 0.9);
  width: 100vw;
  padding: 32px 0px;
  top: 0;
  left: 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.header__logo span {
  color: #42A9ED;
}
.header__link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  margin-right: 60px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__link:hover {
  color: #43ABF0;
}
.header__link:last-child {
  margin-right: 0;
}
.header__burger {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  visibility: hidden;
}
.header__burger div {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
}
.header__burger div:nth-child(1) {
  top: 8px;
}
.header__burger div:nth-child(2) {
  top: 15px;
}
.header__burger div:nth-child(3) {
  top: 22px;
}
@media (max-width: 757px) {
  .header {
    padding: 16px 0;
  }
  .header__menu {
    background: rgba(16, 16, 29, 0.9);
    position: fixed;
    padding-top: 50px;
    top: 0px;
    width: 110vw;
    height: 100vh;
    left: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -110vh;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header__menu.active {
    top: 0;
  }
  .header__link {
    margin-right: 0;
    font-size: 20px;
    margin-bottom: 50px;
  }
  .header__burger {
    display: block;
    visibility: visible;
  }
  .header__burger.active div {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .header__burger.active div:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  .header__burger.active div:nth-child(2) {
    display: none;
  }
  .header__burger.active div:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
}
@media (max-width: 400px) {
  .header__logo {
    font-size: 23px;
  }
}

.lorem {
  background-position: center;
  background: url("../img/firstBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 215px;
  padding-bottom: 220px;
}
.lorem__title {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  max-width: 780px;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .lorem__title {
    font-size: calc(27px + 35.7 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .lorem__title {
    font-size: calc(27px + 21 * (100vw / 1920));
  }
}
@media (max-width: 767px) {
  .lorem__title {
    line-height: calc(38px + 34 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .lorem__title {
    line-height: calc(38px + 20 * (100vw / 1920));
  }
}
.lorem__title span {
  color: #3E9CDC;
}
.lorem__subtitle {
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .lorem__subtitle {
    font-size: calc(17px + 5.1 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .lorem__subtitle {
    font-size: calc(17px + 3 * (100vw / 1920));
  }
}
.lorem__list {
  margin-bottom: 80px;
}
.lorem__item {
  position: relative;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
  padding-left: 25px;
}
@media (max-width: 767px) {
  .lorem__item {
    font-size: calc(17px + 5.1 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .lorem__item {
    font-size: calc(17px + 3 * (100vw / 1920));
  }
}
.lorem__item:before {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  width: 5px;
  height: 1.5px;
  top: 50%;
  left: 0px;
}
.lorem__button {
  width: 183px;
  padding: 15px 0px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFF;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.lorem__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.lorem__order {
  background: #3E9CDC;
  margin-right: 30px;
}
.lorem__description {
  border: 1px solid #6F6D7B;
  background: #FFFFFF;
  color: #000;
}
@media (max-width: 1500px) {
  .lorem {
    background-position-x: -350px;
  }
}
@media (max-width: 940px) {
  .lorem {
    background-position-x: -100px;
  }
}
@media (max-width: 757px) {
  .lorem {
    padding-top: 120px;
  }
}
@media (max-width: 430px) {
  .lorem__button {
    width: 135px;
  }
  .lorem__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}