/*--------------------------------------------------МИКСИН ДЛЯ АДАПТИВНОГО ТЕКСТА--------------------------------------------------------*/
@mixin adaptiv-font($maxWidth, $pcSize, $mobSize){
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media(max-width: 767px){
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media(min-width: 767px){
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}

/*--------------------------------------------------МИКСИН ДЛЯ ПСЕВДОЭЛЕМЕНТОВ--------------------------------------------------------*/
@mixin pseudo($display: block, $position: absolute, $content: ""){
    content: $content;
    display: $display;
    position: $position;
}

/*--------------------------------------------------МИКСИН ДЛЯ ПЛЕЙСХОЛДЕРОВ--------------------------------------------------------*/
@mixin input-placeholder {
  &:placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

/*--------------------------------------------------УСЕЧЕНИЕ ТЕКСТА--------------------------------------------------------*/
@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*--------------------------------------------------Спрятать\Показать блок--------------------------------------------------------*/
@mixin hidden{
    display: none;
    visibility: hidden;
}
@mixin visible ($display: block) {
    display: $display;
    visibility: visible;
}

// Все миксины, которые мне когда-либо пригождались, таскаю с собой на всякий случай.