@import "null.scss";

@import "mixins.scss";
/*ПЕРЕМЕННЫЕ------------------------------------------------------------------------*/

/*ширина контейнера*/
$maxWidthContainer: 1197px;
/*Отступы у контейнера*/
$paddingContainer: 0px 15px;
/*Максимальная ширина*/
$maxWidth: 1920;
/*Минимальная ширина*/
$minWidth: 320;


// FONTS
$lato:'Lato', sans-serif;
$Raleway: 'Raleway', sans-serif;

/*КОНТЕЙНЕР------------------------------------------------------------------------*/
.container{
    max-width: $maxWidthContainer;
    padding: $paddingContainer;
    margin: 0 auto;
}
/*ВРАППЕР------------------------------------------------------------------------*/
.wrapper{
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    font-family: $lato;
}

.header {
    z-index: 99;
    position: fixed;
    background: rgba(16, 16, 29, 0.9);
    width: 100vw;
    padding: 32px 0px;
    top: 0;
    left: 0;
    // .header__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__logo

    &__logo {
        font-family: $Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 33px;
        color: #FFFFFF;
        text-transform: uppercase;
        span{
            color: #42A9ED;
        }
    }

    // .header__menu

    &__menu {
    }

    // .header__link

    &__link {
        text-transform: uppercase;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        margin-right: 60px;
        transition: all .2s ease;
        &:hover{
            color: #43ABF0;
        }
        &:last-child{
            margin-right: 0;
        }
    }

    // .header__burger

    &__burger {
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;
        @include hidden;
        div{
            position: absolute;
            width: 30px;
            height: 2px;
            background: #fff;
            // left: 5px;
            &:nth-child(1){
                top: 8px;
            }
            &:nth-child(2){
                top: 15px;
            }
            &:nth-child(3){
                top: 22px;
            }
        }
    }
    @media(max-width:757px){
        &{
            padding: 16px 0;
        }
        &__menu{
            background: rgba(16, 16, 29, 0.9);
            position: fixed;
            padding-top: 50px;
            top: 0px;
            width: 110vw;
            height: 100vh;
            left: -15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: -110vh;
            transition: all .3s linear;
            &.active{
                top: 0;
            }
        }
        &__link{
            margin-right: 0;
            font-size: 20px;
            margin-bottom: 50px;
        }
        &__burger{
            @include visible;
            &.active{
                div{
                    transition: all 1s ease;
                    &:nth-child(1){
                        top: 15px;
                        transform: rotate(225deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        top: 15px;
                        transform: rotate(-225deg);
                    }
                }
            }
        }
    }
    @media(max-width:400px){
        &__logo{
            font-size: 23px;
        }
    }
}

.lorem {
    background-position: center;
    background: url('../img/firstBg.png') ;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 215px;
    padding-bottom: 220px;
    // background-position-x: -200px;
    // .lorem__inner

    &__inner {
    }

    // .lorem__title

    &__title {
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        color: #000000;
        max-width: 780px;
        margin-bottom: 60px;
        @include adaptiv-font(1920,48,27);
        @include adaptiv-lineHeight(1920,58,38);
        span{
            color: #3E9CDC;
        }
    }

    // .lorem__subtitle

    &__subtitle {
        font-style: normal;
        font-weight: bold;
        line-height: 24px;
        @include adaptiv-font(1920,20,17);
        color: #000000;
        margin-bottom: 10px;
    }

    // .lorem__list

    &__list {
        margin-bottom: 80px;
    }

    // .lorem__item

    &__item {
        position: relative;
        font-style: normal;
        font-weight: normal;
        @include adaptiv-font(1920,20,17);
        line-height: 24px;
        color: #000000;
        padding-left: 25px;
        &:before{
            @include pseudo();
            background: #000;
            width: 5px;
            height: 1.5px;
            top: 50%;
            left: 0px;
        }
    }

    // .lorem__buttons

    &__buttons {
    }

    // .lorem__button

    &__button {
        width: 183px;
        padding: 15px 0px;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        text-transform: uppercase;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #FFF;
        transition: .5s all ease;
        &:hover{
            transform: scale(1.1);
        }
    }

    // .lorem__order

    &__order {
        background: #3E9CDC;
        margin-right: 30px;
    }

    // .lorem__description

    &__description {
        border: 1px solid #6F6D7B;
        background: #FFFFFF;
        color: #000;
    }
    @media(max-width:1500px){
        &{
            background-position-x: -350px;
        }
    }
    @media(max-width:940px){
        &{
            background-position-x: -100px;
        }
    }
    @media(max-width:757px){
        &{
            padding-top: 120px;
        }
    }
    @media(max-width:430px){
        &__button{
            width: 135px;
        }
        &__buttons{
            display: flex;
            justify-content: space-between;
        }
    }
}

.order {
    padding-top: 120px;
    padding-bottom: 150px;
    background: #272733;
    background-image: url("../img/map.png");
    background-size: cover;
    background-repeat: no-repeat;
    // .order__inner

    &__inner {
    }

    // .order__title

    &__title {
        text-align: center;
        font-style: normal;
        font-weight: black;
        font-size: 36px;
        line-height: 43px;
        color: #FFFFFF;
        text-transform: uppercase;
        span{
            color: #3E9CDC;
        }
    }

    // .order__subtitle

    &__subtitle {
        margin-top: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #BBBBBB;
        text-align: center;
        margin-bottom: 77px;
    }

    // .order__schema

    &__schema {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
    }

    // .order__item

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 165px;
        margin-bottom: 20px;
        flex: 0 1 20%;
        &:after{
            @include pseudo;
            width: 110px;
            height: 6px;
            background-image: url("../img/line.png");
            background-repeat: no-repeat;
            background-size: contain;
            top: 47px;
            right: -54px;
        }
        &:last-child::after{
            display: none;
        }
        &:hover .order__icon{
            border-color: #DDDDAC;
        }

    }

    // .order__icon

    &__icon {
        transition: .4s all ease;
        background: #3E9CDC;
        border: 5px solid #286690;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .order__desc

    &__desc {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        max-width: 188px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 20px;
    }

    // .order__block

    &__block {
        margin-top: 80px;
    }

    // .order__form

    &__form {
    }

    // .order__row

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 0px;
        }
        &_center{
            justify-content: center;
        }
    }
    &__wrapper{
        position: relative;
        &_select{

        }
        &_file{
            width: 370px;
        }
    }
    &__file{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: flex;
        &_icon_wrapper{
            height: 20px;
            width: 17.5px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_button_text{
            font-style: normal;
            font-weight: 800;
            font-size: 15px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: inherit;
        }
        &_button{
            width: 100%;
            max-width: 370px;
            height: 48px;
            background: #FFFFFF;
            border: 2px solid #3E9CDC;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-left: auto;
            color: #272733;
            transition: .3s all ease;
            &:hover{
                background: #3E9CDC;
                border-color: #fff;
                transform: rotate(1deg);
                color: white;
            }
        }
    }
    &__arrow{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 25px;
        right: 0;
        &::after{
            @include pseudo;
            width: 7px;
            height: 1px;
            background: black;
            transform: rotate(45deg);
            transition: .4s all ease;
        }
        &::before{
            @include pseudo;
            width: 7px;
            height: 1px;
            background: black;
            top: 0px;
            transform: rotate(-45deg);
            right: 8px;
            transition: .4s all ease;
        }
        &.active::after{
            background: white;
            transform: rotate(140deg);
        }
        &.active::before{
            background: white;
            transform: rotate(-140deg);
        }
    }

    // .order__select
    &__select {
         position: relative;
        width: 370px;
        height: 48px;
        background: transparent;
        border: 0;
        padding-left: 10px;
        appearance: none;         
        -webkit-appearance: none;    
        -moz-appearance: none;  
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        &.active{
            background: rgba(61, 64, 80, 0.85);
            border: none;
                color: white;
                option{
                    background: #272733;
                    color: white;
                    &:hover,
                    &:focus,
                    &:active{
                        background: #272733;
                        color: #42A9ED;
                    }
                }
        }
    }

    // .order__inp

    &__inp {
        background: rgba(255, 255, 255, 0.85);
        border: 1px solid #FFFFFF;
        margin-bottom: 5px;
        border-radius: 3px;
        width: 370px;
        height: 48px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #272733;
        padding-left: 10px;
        @include input-placeholder{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #272733;
        }
    }

    // .order__name

    &__name {
        
    }

    // .order__email

    &__email {
    }

    &__percents{
        
    }
    &__text{
        display: flex;
        justify-content: space-between;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        @include adaptiv-font(1920,18,14);
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 10px;
        p{
            &:last-child{
                color: rgba(255, 255, 255, 0.85);
                font-weight: 900;
            }
        }
    }
    &__range{
        width: 770px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::-webkit-slider-runnable-track {
            height: 6px;
            background: #BEBEC1;
            border: 1px solid #FFFFFF;
            border-radius: 100%;
        }
        &::-webkit-slider-thumb {
            background: #42A9ED;
            border: 3px solid #286690;
            border-radius: 50%;
            cursor: pointer;
            width:24px;
            height: 24px;
            -webkit-appearance: none;
            margin-top: -9px;
          }
        &::-moz-range-track {
            height: 6px;
            background: #BEBEC1;
            border: 1px solid #FFFFFF;
            border-radius: 100%;
        }
        &::-moz-range-thumb{
            background: #42A9ED;
            border: 3px solid #286690;
            border-radius: 50%;
            cursor: pointer;
            width:24px;
            height: 24px;
            -webkit-appearance: none;
            margin-top: -9px;
        }
    }

    &__upload{}

    &__confirm{
        cursor: pointer;
        width: 370px;
        height: 48px;
        background: #3E9CDC;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: .3s all ease;
        &:hover{
            background: #fff;
            border-color: #3E9CDC;
            color: black;
            transform: rotate(-1deg);
        }
    }

    @media(max-width:1177px){
        &__item{
            flex: 0 1 50%;
            margin-bottom: 50px;
            &:last-child{
                margin-bottom: 0;
            }
            &:nth-child(even)::after{
                display: none;
            }
        }
        &__range{
            margin-bottom: 30px;
        }
        &__row{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:nth-child(2){
                align-items: flex-start;
            }
        }
    }
    @media(max-width:810px){
        &__range{
            @include adaptiv-width(810, 770, 300);
        }
    }
    @media(max-width:500px){
        &__schema{
            flex-direction: column;
        }
        &__item{
            &::after{
                display: none;
            }
        }
        &__confirm,
        &__wrapper_file,
        &__inp,
        &__wrapper{
            width: 100%;
            max-width: 370px;
        }
    }
}

.footer {
    background: #3D4050;
    padding: 30px 0;
    // .footer__inner

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    // .footer__column

    &__column {
        display: flex;
        border-right: 1px solid #c3c3c3;
        padding-right: 40px;
        &:last-child{
            padding-right: 0;
            border: none;
        }

    }

    // .footer__desc

    &__desc {
        font-style: normal;
        font-weight: normal;
        @include adaptiv-font(1920,13,12);
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        span{
            text-transform: uppercase;
        }
    }

    // .footer__pays

    &__pays {
        display: flex;
    }

    // .footer__item

    &__item {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        margin-right: 38px;
        &:last-child{
            margin-right: 0;
        }
    }

    // .footer__pay

    &__pay {
        color: #C3C3C3;
    }

    // .footer__icon

    &__icon {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    // .footer__name

    &__name {
    }
    @media(max-width:1146px){
        &__inner{
            flex-direction: column;
            align-items: center;
        }
        &__column{
            border: none;
            padding-right: 0;
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    @media(max-width:424px){
        &__pays{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            margin: 0;
        }
        &__pay{
            margin-bottom: 10px;
        }
        &__social{
            margin-right: 10px;
        }
    }
}


















